body {
  font-family: "Raleway", "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #fff;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 1600px;
  margin: 0 auto;
}

.header-position {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #000;
}

.navigation {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin-left: 93px;
}

.icon {
  margin-right: 10px;
  fill: #757575;
}

.list-item {
  position: relative;
}

.list-item + .list-item {
  margin-left: 50px;
}

.list-item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  bottom: -32px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item:hover::after {
  background-color: #2196f3;
 
}

.list-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link:hover {
  color: #2196f3;
}



.list-contact {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-contact {
  font-family: Roboto;
  color: #757575;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-contact:hover,
.header-contact:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact:hover .icon {
  fill: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contact + .menu-contact {
  margin-left: 50px;
}

.hero {
  max-width: 1600px;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), #2f303a66),
    url(img/Img.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #fff;
  font-size: 44px;
  text-align: center;
}

.button {
  width: 216px;
  height: 50px;
  color: #fff;
  background-color: #2196f3;
  margin: 0 auto;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  display: block;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

.advantages {
  display: none;
}

.advantages-title {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 30px;
}

.advantages-desc {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.advantages-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.advantages-desc {
  margin-top: 10px;
}

.section-title {
  text-align: center;
  padding-top: 94px;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.we-do-list {
  display: flex;
  column-gap: 30px;
  margin-top: 50px;
}

.we-do-item {
  position: relative;
}

.we-do-img {
  position: absolute;
  top: 225px;
  width: 370px;
  height: 42px;
  background-color: #2f303acc;
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-top: 27px;
}

.section-team {
  background: #f5f4fa;
  margin: 0 auto;
  height: 648px;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
}

.icon-network {
  fill: #afb1b8;
}

.svg-team {
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-team:hover {
  padding: 12px;
  background-color: #2196f3;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-team:hover .icon-network {
  fill: #fff;
}

.team-list {
  display: flex;
  column-gap: 30px;
  margin-top: 50px;
}

.team-name {
  color: #212121;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team-pasition {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  color: #757575;
}

.card-box {
  padding: 30px 55px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  margin: 0 auto;
  text-align: center;
  margin-top: -3px;
}

.team-pasition {
  padding-top: 10px;
  margin-bottom: 28px;
}

.icons-team {
  display: flex;
  column-gap: 2em;
}

.icon-instagram:before {
  content: "\1f309";
  font-size: 30px;
}

.logos {
  fill: #afb1b8;
}

.logo-all {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
}

.logo-all:hover {
  border-color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-all:hover .logos {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-top: 94px;
}

.customer-logos {
  display: flex;

  column-gap: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}

.icon-linkedin-footer {
  border: 1px;
}

.team-item {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.footer {
  background: #2f303a;
  height: 252px;
}

.containers {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  display: flex;
}

.logo-web-footer {
  color: #2196f3;
}

.logo-studio-footer {
  color: #fff;
}

.address-footer {
  width: 220px;
  margin-top: 20px;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-contact {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-contact-list {
  margin-top: 9px;
}

.footer-contact-items {
  margin-top: 9px;
}

.footer-network {
  margin-top: 5px;
  margin-left: 80px;
}

.text-footer {
  color: #fff;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.network-all {
  display: flex;
  column-gap: 10px;
  margin-top: 30px;
}

.svg-fon {
  padding: 17px 12px 10px 12px;
  background-color: #ffffff1a;
  border-radius: 100%;
}

.svg-fon:hover {
  padding: 17px 12px 10px 12px;
  background-color: #2196f3;
  border-radius: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input {
  margin-left: 40px;
  column-gap: 10px;
  margin-left: 90px;
  display: flex;
}

.label-footer-text {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.input-footer {
  margin-top: 20px;
  width: 355px;
  height: 50px;
  border-radius: 4px;
  background: #2f303a;
  color: #ffffff4d;
}
.input-footer {
  display: block;
}

input {
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
}

.label-input-footer {
  display: block;
}

.btn-subscribe {
  height: 55px;
  padding: 15px 32px 10px 28px;
  border: none;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  background: #2196f3;
  display: flex;
  column-gap: 10px;
  margin-top: 36px;
}

.svg-footer {
  margin-top: 3px;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000033;
}

.modal {
  position: absolute;
  width: 528px;
  height: 620px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.modal-clase-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: #fff;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.modal-form + .modal-form {
  margin-top: 21px;
}

.input-modal {
  width: 416px;
  height: 40px;
  border-radius: 4px;
  padding-left: 35px;
}
.comment-modal {
  width: 424px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.12px;
}

#icon-close {
  fill: #0000001a;
}

.modal-close:hover {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-modal {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.label-check {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.label-check-modal {
  margin-left: 52px;
  margin-top: 20px;
}

.send-btn {
  display: block;
  margin-left: 164px;
  padding: 10px 52px;
  margin-top: 30px;
  border-radius: 4px;
  background: #2196f3;
  border: none;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

.footer-input-email::placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.icon-modal {
  margin-top: -31px;
  margin-left: 12px;
}
