body {
  font-family: "Raleway", "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}



.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 1600px;
  margin: 0 auto;
}

.header-position {
  display: flex;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #000;
}

.navigation {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin-left: 93px;
}

.list-item {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.list-item:hover {
  color: #2196f3;
}

.list-contact {
  display: flex;
  margin-left: auto;
}

.header-contact {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-contact:hover {
  color: #2196f3;
}

.menu-contact + .menu-contact {
  margin-left: 50px;

}

svg:hover {
  color: #2196f3;
}


.header-email:hover {
  fill: #2196f3;
}


.hero {
  padding: 200px 0;
  background-image: url(img/Img.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #fff;
  font-size: 44px;
  text-align: center;
}

.button {
  width: 216px;
  height: 50px;
  color: #fff;
  background-color: #2196f3;
  margin: 0 auto;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  display: block;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

.advantages {
  display: none;
}

.advantages-title {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 30px;
}

.advantages-desc {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.advantages-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.advantages-desc {
  margin-top: 10px;
}

.section-title {
  text-align: center;
  padding-top: 94px;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.we-do-list {
  display: flex;
  column-gap: 30px;
  margin-top: 50px;
}

.we-do-item {
  position: relative;
}

.we-do-img {
position: absolute;
top: 225px;
width: 370px;
height: 42px;
background-color: #2F303ACC;
text-align: center;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
padding-top: 27px;
}


.section-team {
  background: #f5f4fa;
  margin: 0 auto;
  height: 648px;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  display: flex;
  column-gap: 30px;
  margin-top: 50px;
}

.team-name {
  color: #212121;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team-pasition {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  color: #757575;
}

.card-box {
  padding: 30px 55px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  margin: 0 auto;
  text-align: center;
  margin-top: -3px;
}

.team-pasition {
  padding-top: 10px;
  margin-bottom: 28px;
}

.icons-team {
  display: flex;
  column-gap: 2em;
}

.icon-instagram:before {
  content: "\1f309";
  font-size: 30px;
}

.icon-instagram:hover {
  color: white;
  border: 1px solid #2196f3;
  padding: 12px;
  border-radius: 50px;
  background-color: #2196f3;
}

.icon-twitter:hover {
  color: white;
  border: 1px solid #2196f3;
  padding: 12px;
  border-radius: 50px;
  background-color: #2196f3;
}

.icon-facebook:hover {
  color: white;
  border: 1px solid #2196f3;
  padding: 12px;
  border-radius: 50px;
  background-color: #2196f3;
}

.icon-linkedin:hover {
  color: white;
  border: 1px solid #2196f3;
  padding: 12px;
  border-radius: 50px;
  background-color: #2196f3;
}

.regular-customers {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-top: 94px;
}

.customer-logos {
  display: flex;
  margin-left: 80px;
  column-gap: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}

.icon-linkedin-footer {
  border: 1px;
}

.team-item {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.footer {
  background: #2f303a;
  height: 252px;
}

.containers {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
}


.logo-web-footer {
  color: #2196f3;
}

.logo-studio-footer {
  color: #fff;
}

.address-footer {
  margin-top: 20px;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-contact {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-contact-list {
  margin-top: 9px;
}

.footer-contact-items {
  margin-top: 9px;
}

.header-network {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-left: 350px;
  margin-top: -130px;
}

.network-icons-footer {
  margin-left: 10px;
}

.icons-team-footer {
  margin-top: 20px;
  display: flex;
  margin-left: 335px;
}

.fon {
  border: 1px solid #ffffff1a;
  padding: 12px 12px 10px 12px;
  border-radius: 50px;
  background-color: #ffffff1a;
  border: none;
}

.fon:hover {
  background-color: #2196f3;
}

.footer-email {
  margin-left: 650px;
  margin-top: -87px;
}

.footer-title {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-input-email {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  background: rgba(33, 150, 243, 0.00);
  border-color: #FFFFFF4D;
  margin-top: 20px;
  color: #FFF;
}


.footer-btn {
  padding: 10px 32px 10px 28px;
  border: none;
  border-radius: 4px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  background: #2196F3;
  display: flex;
  margin-left: 380px;
  margin-top: -55px;
}

.icon-footer-send {
  margin-left: 10px;
}

.backdrop {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: #00000033;
}

.modal {
   position: absolute;
   width: 528px;
   height: 620px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
}

.modal-clase-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: #FFF;
}



.backdrop.is-hidden {
opacity: 0;
pointer-events: none;
}

.modal-title {
   margin-top: 40px;
   text-align: center;
   font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.modal-form + 
.modal-form {
  margin-top: 21px;
}

.input-modal {
  width: 416px;
  height: 40px;
  border-radius: 4px;
  padding-left: 35px;
}
.comment-modal {
  width: 450px;
  height: 120px;
  resize: none;
}

.label-modal {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;

}

.label-check {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  
}

.label-check-modal {
  margin-left: 52px;
  margin-top: 20px;
}

.send-btn {
  display: block;
  margin-left: 164px;
  padding: 10px 52px;
  margin-top: 30px;
  border-radius: 4px;
  background: #2196F3;
  border: none;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

.icon-modal {
 margin-top: -31px;
 margin-left: 12px;
}


